@use "config/fonts" as f;
@use "config/variables" as v;
@use "mixin" as m;


html {
    transition-duration: 1s;
}

body {
    width: 100%;
}

main {
    position: relative;
    height: calc(100vh - 55.05px);
}

.py-4 {
    background-color: v.$mainColor;
}

.title{
    position: relative;

    img {
        filter: brightness(60%);
    }

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0;
        font-size: 30px;
        color: #fff;
    }
}
