@use "config/variables" as v;

// Login btn
@mixin loginBtn($bColor) {
    text-align: center;
    background-color: $bColor;
    border-radius: 50px;
    position: relative;
    margin: 0 auto;
    max-width: 260px;
    padding: 10px 40px;
    color: white;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    border: 1px;
}

@mixin fz($size: 16) {
    font-size: calc($size / 10) + rem;
}
