// Body

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;

// color
$mainColor: #588068;
$white: #FBFCFA;
$whiteGray: #E8E8E8;
$black: #0F1419;
$darkGray: #1C1C1C;
$green: #3CB043;
$red: #FA5B3D;

// border-radius
$round-40: 40px;
$round-10: 10px;
$round-15: 15px;
